Proyecto_MVC/Connected Services/ProxyPasajeros/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Reservas" />
  <xs:element name="GetPasajeroDetallePagoPorDni">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasajeroDetallePagoPorDniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Reservas" minOccurs="0" name="GetPasajeroDetallePagoPorDniResult" nillable="true" type="q1:ArrayOfPasajeroBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPasajerosPorDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departamento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPasajerosPorDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Reservas" minOccurs="0" name="ListarPasajerosPorDepartamentoResult" nillable="true" type="q2:ArrayOfPasajeroBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPasajerosPorGenero">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="genero" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPasajerosPorGeneroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Reservas" minOccurs="0" name="ListarPasajerosPorGeneroResult" nillable="true" type="q3:ArrayOfPasajeroBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPasajerosPorPais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pais" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPasajerosPorPaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_Reservas" minOccurs="0" name="ListarPasajerosPorPaisResult" nillable="true" type="q4:ArrayOfPasajeroBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPasajeros">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPasajerosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_Reservas" minOccurs="0" name="ListarPasajerosResult" nillable="true" type="q5:ArrayOfPasajeroBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPaises">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPaisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF_Reservas" minOccurs="0" name="ListarPaisesResult" nillable="true" type="q6:ArrayOfPasajeroBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDepartamentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDepartamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCF_Reservas" minOccurs="0" name="ListarDepartamentosResult" nillable="true" type="q7:ArrayOfPasajeroBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContarPasajerosPorPais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pais" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContarPasajerosPorPaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetContarPasajerosPorPaisResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>