Proyecto_MVC/Connected Services/ProxyPasajeros/WCF_Reservas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Reservas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Reservas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPasajeroBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PasajeroBE" nillable="true" type="tns:PasajeroBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPasajeroBE" nillable="true" type="tns:ArrayOfPasajeroBE" />
  <xs:complexType name="PasajeroBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aerolinea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNac" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaPago" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Genero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdDepart" type="xs:int" />
      <xs:element minOccurs="0" name="IdPais" type="xs:int" />
      <xs:element minOccurs="0" name="MedioPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomDep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroComprobante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ruc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoComprobante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoVuelo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasajeroBE" nillable="true" type="tns:PasajeroBE" />
</xs:schema>