Proyecto_MVC/Connected Services/ProxyReservas/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioReserva" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_Reservas" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioReserva_ListarReservasPorCiudadOrigen_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarReservasPorCiudadOrigen" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ListarReservasPorCiudadOrigen_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarReservasPorCiudadOrigenResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ListarReservasPorCiudadDestino_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarReservasPorCiudadDestino" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ListarReservasPorCiudadDestino_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarReservasPorCiudadDestinoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ListarReservas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarReservas" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ListarReservas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarReservasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ListarReservasPorFechaSalida_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarReservasPorFechaSalida" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ListarReservasPorFechaSalida_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarReservasPorFechaSalidaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ListarReservasPorFechaLlegada_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarReservasPorFechaLlegada" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ListarReservasPorFechaLlegada_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarReservasPorFechaLlegadaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ListarReservasPorDni_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarReservasPorDni" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ListarReservasPorDni_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarReservasPorDniResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ListarDepartamentos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarDepartamentos" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ListarDepartamentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarDepartamentosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioReserva">
    <wsdl:operation name="ListarReservasPorCiudadOrigen">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioReserva/ListarReservasPorCiudadOrigen" message="tns:IServicioReserva_ListarReservasPorCiudadOrigen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioReserva/ListarReservasPorCiudadOrigenResponse" message="tns:IServicioReserva_ListarReservasPorCiudadOrigen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarReservasPorCiudadDestino">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioReserva/ListarReservasPorCiudadDestino" message="tns:IServicioReserva_ListarReservasPorCiudadDestino_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioReserva/ListarReservasPorCiudadDestinoResponse" message="tns:IServicioReserva_ListarReservasPorCiudadDestino_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarReservas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioReserva/ListarReservas" message="tns:IServicioReserva_ListarReservas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioReserva/ListarReservasResponse" message="tns:IServicioReserva_ListarReservas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarReservasPorFechaSalida">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioReserva/ListarReservasPorFechaSalida" message="tns:IServicioReserva_ListarReservasPorFechaSalida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioReserva/ListarReservasPorFechaSalidaResponse" message="tns:IServicioReserva_ListarReservasPorFechaSalida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarReservasPorFechaLlegada">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioReserva/ListarReservasPorFechaLlegada" message="tns:IServicioReserva_ListarReservasPorFechaLlegada_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioReserva/ListarReservasPorFechaLlegadaResponse" message="tns:IServicioReserva_ListarReservasPorFechaLlegada_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarReservasPorDni">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioReserva/ListarReservasPorDni" message="tns:IServicioReserva_ListarReservasPorDni_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioReserva/ListarReservasPorDniResponse" message="tns:IServicioReserva_ListarReservasPorDni_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarDepartamentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioReserva/ListarDepartamentos" message="tns:IServicioReserva_ListarDepartamentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioReserva/ListarDepartamentosResponse" message="tns:IServicioReserva_ListarDepartamentos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioReserva" type="tns:IServicioReserva">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarReservasPorCiudadOrigen">
      <soap:operation soapAction="http://tempuri.org/IServicioReserva/ListarReservasPorCiudadOrigen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarReservasPorCiudadDestino">
      <soap:operation soapAction="http://tempuri.org/IServicioReserva/ListarReservasPorCiudadDestino" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarReservas">
      <soap:operation soapAction="http://tempuri.org/IServicioReserva/ListarReservas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarReservasPorFechaSalida">
      <soap:operation soapAction="http://tempuri.org/IServicioReserva/ListarReservasPorFechaSalida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarReservasPorFechaLlegada">
      <soap:operation soapAction="http://tempuri.org/IServicioReserva/ListarReservasPorFechaLlegada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarReservasPorDni">
      <soap:operation soapAction="http://tempuri.org/IServicioReserva/ListarReservasPorDni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDepartamentos">
      <soap:operation soapAction="http://tempuri.org/IServicioReserva/ListarDepartamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioReserva">
    <wsdl:port name="BasicHttpBinding_IServicioReserva" binding="tns:BasicHttpBinding_IServicioReserva">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_Reservas/ServicioReserva/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>