Proyecto_MVC/Connected Services/ProxyReservas/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Reservas" />
  <xs:element name="ListarReservasPorCiudadOrigen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ciudad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarReservasPorCiudadOrigenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Reservas" minOccurs="0" name="ListarReservasPorCiudadOrigenResult" nillable="true" type="q1:ArrayOfReservaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarReservasPorCiudadDestino">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ciudad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarReservasPorCiudadDestinoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Reservas" minOccurs="0" name="ListarReservasPorCiudadDestinoResult" nillable="true" type="q2:ArrayOfReservaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarReservas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarReservasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Reservas" minOccurs="0" name="ListarReservasResult" nillable="true" type="q3:ArrayOfReservaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarReservasPorFechaSalida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecha2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarReservasPorFechaSalidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_Reservas" minOccurs="0" name="ListarReservasPorFechaSalidaResult" nillable="true" type="q4:ArrayOfReservaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarReservasPorFechaLlegada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecha2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarReservasPorFechaLlegadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_Reservas" minOccurs="0" name="ListarReservasPorFechaLlegadaResult" nillable="true" type="q5:ArrayOfReservaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarReservasPorDni">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarReservasPorDniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF_Reservas" minOccurs="0" name="ListarReservasPorDniResult" nillable="true" type="q6:ArrayOfReservaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDepartamentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDepartamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCF_Reservas" minOccurs="0" name="ListarDepartamentosResult" nillable="true" type="q7:ArrayOfVueloBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>